<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @contestant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contestant.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @contestant.email %>
</p>

<p>
  <b>Notes:</b>
  <%= @contestant.notes %>
</p>


<%= link_to 'Edit', edit_contestant_path(@contestant) %> |
<%= link_to 'Back', contestants_path %>
