<%= form_for(@profile) do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :employee_number %>
    <%= f.text_field :employee_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>