<p id="notice"><%= notice %></p>

<h1>Downloads</h1>

<table>
  <thead>
    <tr>
      <th>Aws object key</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @downloads.each do |download| %>
      <tr>
        <td><%= download.aws_object_key %></td>
        <td><%= download.name %></td>
        <td><%= link_to 'Show', download %></td>
        <td><%= link_to 'Edit', edit_download_path(download) %></td>
        <td><%= link_to 'Destroy', download, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Download', new_download_path %>
