<div class="blank-page-navigation-bar">
  <div class="container">
    <div class="blank-page-nav-links">
      <%= link_to "BACK TO BITESITE.CA", "/" %>
    </div>
    <div class="clear-floats"></div>
  </div>
</div>

<div class="email-blacklistings-index">
  <h1>Email Blacklistings</h1>

  <div class="container">
    <table class="resource-table">
      <tr>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>

    <% @email_blacklistings.each do |email_blacklisting| %>
      <tr>
        <td><%= email_blacklisting.email %></td>
        <td><%= link_to 'Edit', edit_email_blacklisting_path(email_blacklisting) %></td>
        <td><%= link_to 'Destroy', email_blacklisting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Email blacklisting', new_email_blacklisting_path %>
  </div>
</div>