<div class="video-listings-index">
  <div class="container">
    <h1>Listing Video Listings</h1>
    <%= link_to 'New Video listing', new_video_listing_path, class: "btn btn-primary" %>

    <table class='resource-table'>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Link</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @video_listings.each do |video_listing| %>
      <tr>
        <td><%= image_tag video_listing.image %></td>
        <td><%= video_listing.name %></td>
        <td><%= video_listing.link %></td>
        <td><%= link_to 'Show', video_listing %></td>
        <td><%= link_to 'Edit', edit_video_listing_path(video_listing) %></td>
        <td><%= link_to 'Destroy', video_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
