<%= form_for(@news_post, :html => {:multipart => true}) do |f| %>
  <% if @news_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_post.errors.count, "error") %> prohibited this news_post from being saved:</h2>

      <ul>
      <% @news_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.check_box :hidden %> Hidden?
  </div>
  <div class="field">
    <%= f.label :visibility %>
    <%= f.select :visibility, options_for_select(NewsPost::VALID_VISIBILITIES, selected: @news_post.visibility) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
