<div class="page-section wedding-services-section">
	<div class="container">
		<h1>Wedding Services</h1>
		<div class="wedding-services">
			<div class="wedding-service">
				<div class="wedding-service-logo">
					video
				</div>
				<div class="wedding-service-logo-subheader">
					packages starting at $1500
				</div>
				<div class="wedding-service-description">
						<%= link_to "Sample", "#", :class => "portfolio-text-link portfolio-item", "data-title" => 'hana-and-chris-video' %> 
						<%= link_to "Demo Reel", "#", :class => "portfolio-text-link portfolio-item", "data-title" => 'demo-reel-video' %> 
						<%= link_to "Portfolio", "/video", class: "portfolio-text-link" %>

				</div>
			</div>
			<div class="wedding-service">
				<div class="wedding-service-logo">
					photo
				</div>
				<div class="wedding-service-logo-subheader">
					packages starting at $1000
				</div>
				<div class="wedding-service-description">
					<%= link_to "Our Shots", "#", :class => "portfolio-text-link portfolio-item-photos", "data-title" => 'weddingphotos' %>
				</div>
			</div>
			<div class="wedding-service">
				<div class="wedding-service-logo">
					web
				</div>
				<div class="wedding-service-logo-subheader">
					packages starting at $1000
				</div>
				<div class="wedding-service-description">
					<%= link_to "Sample Site", "http://www.marilynanddouglas.com", :class => "portfolio-text-link", :target => "_blank" %>
				</div>
			</div>
			<div class="clear">
			</div>
		</div>

		<div class="wedding-description center">
			This is the dedicated BiteSite Wedding Portal.<br>
			Please feel free to contact us below to inquire about our <b>Photography</b>, <b>Video</b>, and <b>Web Design</b> services
			or stop by our main site <%= link_to "here", "/" %>.
		</div>
	</div>
</div>