<div class="blog-post <%= blog_post.published ? '' : 'hidden' %>">

  <% if blog_post.featured_image_url.nil? %>
    <%= image_tag 'defaultblog.jpg', class: 'featured-image' %>
  <% else %>
    <%= image_tag blog_post.featured_image_url, class: 'featured-image' %>
  <% end %>

  <div class="blog-post-header">
    <h1><%= blog_post.title %></h1>
    <div class="blog-post-date"><%= convert_time_string blog_post.created_at %></div>    
  </div>

  <div class="blog-post-body">
    <%= markdown blog_post.body, false %>
  </div>

  <div class="tags">
    <% blog_post.tags.each do |tag| %>
      <span class='tag'><%= tag.name %></span>
    <% end %>
  </div>

  <div class="blog-post-actions">    
    <% if can? :edit, blog_post %>
      <div class='edit-actions'>
        <%= link_to "edit", edit_blog_post_path(blog_post) %>
        <%= link_to "add images", blog_post_blog_post_images_path(blog_post) %><br/>
        Author: <%= blog_post.user.try(:email) %>
      </div>
    <% end %>
  </div>
  <div class="clear-floats"></div>
</div>