<%= form_for(@blog_post, html: { id: 'blog-posts-form'} ) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= check_box_tag :update_slug %>
    <%= f.label :update_slug, "Update URL", class: 'checkbox-label' %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 20 %>
  </div>

  <div class="field">
    <%= f.label :meta_description %>
    <%= f.text_area :meta_description, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "Tags (comma separated)" %>
    <%= f.text_field :tag_list, value: @blog_post.tag_list.join(", ") %>
  </div>

  <div class="field">
    <%= f.label :featured_image, "Featured Image (optimal 600x600px)" %>
    <%= f.file_field :featured_image %>
  </div>

  <div class="field">
    <%= f.label :featured_video, "Featured Video (YouTube Embed link, e.g. https://www.youtube.com/embed/...)" %>
    <%= f.text_field :featured_video %>
  </div>

  <div class="field">
    <%= f.check_box :remove_featured_image %>
    <%= f.label :remove_featured_image, "Remove Featured Image", class: 'checkbox-label' %>
  </div>

  <div class="field image-previews">
    <h3>Images available for use</h3>

    <table class='resource-table'>
      <thead>
        <tr>
          <th></th>
          <th>HTML Code</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
      <% @blog_post.blog_post_images.each do |blog_post_image| %>
        <tr class='image-preview'>
          <td><%= image_tag blog_post_image.image.url %></td>
          <td>
            &lt;div class='blog-post-image'&gt;&lt;img src='<%= blog_post_image.image.url %>'/&gt;&lt;/div&gt;
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="field">
    <%= f.check_box :published %> <%= f.label :published, class: "checkbox-label" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
