<div id="blog-posts-show">

  <div class="blog-post <%= @blog_post.published ? '' : 'hidden' %>">

    <% if @blog_post.featured_image_url.nil? %>
      <%= image_tag 'defaultblog.jpg', class: 'featured-image' %>
    <% else %>
      <%= image_tag @blog_post.featured_image_url, class: 'featured-image' %>
    <% end %>

    <div class="blog-post-header">
      <h1><%= @blog_post.title %></h1>
      <div class="blog-post-date"><%= convert_time_string @blog_post.created_at %></div>    
    </div>

    <div class="tags">
      <% @blog_post.tags.each do |tag| %>
        <span class='tag'><%= tag.name %></span>
      <% end %>
    </div>

    <div class="blog-post-body">
      <%= markdown @blog_post.body, false %>
    </div>
    
    
    <% if @blog_post.user.profile.suitable_for_blog? %>
      <div class="author">
        <div class='avatar-container'>
          <%= image_tag @blog_post.user.profile.avatar_url %>
        </div>
        <div class="author-info">
          <div class='full-name'><%= @blog_post.user.profile.full_name %></div>
          <div class='job-title'><%= @blog_post.user.profile.job_title %>, BiteSite</div>
        </div>
      </div>
    <% else %>
      <% if staff? %>
        Author: <%= @blog_post.user.try(:email) %>
      <% end %>
    <% end %>
    

    <div class="blog-post-actions">    
      <% if can? :edit, @blog_post %>
        <div class='edit-actions'>
          <%= link_to "edit", edit_blog_post_path(@blog_post) %>
          <%= link_to "add images", blog_post_blog_post_images_path(@blog_post) %><br/>
        </div>
      <% end %>
    </div>


    <div class="clear-floats"></div>
  </div>

  <div class="actions">
    <% if admin? %>
      <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
    <% end %>
    <%= link_to 'Back to The BiteSite Blog', blog_posts_path %>
  </div>
</div>
