<div id="blog-posts-show">
  <div class="container">
    <h1>
      <%= @blog_post.title %>
    </h1>
    <h2>
      <%= convert_time_string @blog_post.created_at %>
    </h2>

    <%= markdown @blog_post.body %>


    <div class="tags">
      <% @blog_post.tags.each do |tag| %>
        <span class='tag'><%= tag.name %></span>
      <% end %>
    </div>

    <div class="actions">
      <% if admin? %>
        <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
      <% end %>
      <%= link_to 'Back', blog_posts_path %>
    </div>
    
  </div>
</div>
