<div class="blank-page-navigation-bar">
  <div class="container">
    <div class="blank-page-nav-links">
      <%= link_to "BACK TO BITESITE.CA", "/" %>
    </div>
    <div class="clear-floats"></div>
  </div>
</div>

<div class="careers-index">
  <h1>CAREERS</h1>

  <% if admin? %>
    <div class="container">
      <%= link_to 'New Career', new_career_path %> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    </div>
  <% end %><br>
  
  <% if @careers.blank? %>
    <div class="container">
      BiteSite is not currently hiring but we are always on the lookout for great talent.
      Even when we don't have active listings, we still like to grow our network and meet like-minded individuals.
      So feel free to contact us to drop us your resume, let us know you're out there, or just to say hi.
      Check back at anytime for active listings or 
      contact us directly at <%= link_to "info@bitesite.ca", "mailto:info@bitesite.ca" %>.   
    </div>
    
  <% else %>
    <div class="container">
      <h2>Current Listings</h2>
      <ul class='page-index'>
        <% @careers.each do |career| %>
          
          <a href="#career_<%= career.id %>">
            <li><%= career.title %> (<%= convert_time_string career.created_at %>)</li>
          </a>
        <% end %>
      </ul>  
    </div>
    
    <%= render @careers %>
  <% end %>
</div>
