<div class="container">
  <h1>Do Not Notify Listings</h1>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @do_not_notify_listings.each do |do_not_notify_listing| %>
        <tr>
          <td><%= do_not_notify_listing.email %></td>
          <td><%= link_to 'Show', do_not_notify_listing %></td>
          <td><%= link_to 'Edit', edit_do_not_notify_listing_path(do_not_notify_listing) %></td>
          <td><%= link_to 'Destroy', do_not_notify_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Do Not Notify Listing', new_do_not_notify_listing_path %>
</div>

