<div class="page-section featured-work-section">
  <div class="container">

    <h1>FEATURED WORK</h1>

    <div class="featured-work-listings">
      <%= link_to image_tag("featured_international_safety_tile.jpg", class: "featured-work-listing"), international_safety_path %>
      <%= link_to image_tag("featured_mydoma_tile.jpg", class: "featured-work-listing"), mydoma_path %>
      <%= link_to image_tag("featured_lspark_grad_tile.jpg", class: "featured-work-listing"), lspark_grad_path %>
      <%= link_to image_tag("featured_martello_tile.jpg", class: "featured-work-listing"), martello_path %>
      <%= link_to image_tag("featured_ollie_tile.jpg", class: "featured-work-listing"), ollie_path %>
      <%= link_to image_tag("featured_d3m_tile.jpg", class: "featured-work-listing"), d3m_path %>
      <%= link_to image_tag("featured_christine_kelly_tile.jpg", class: "featured-work-listing"), christine_kelly_path %>
      <%= link_to image_tag("featured_solink_tile.jpg", class: "featured-work-listing"), solink_path %>
      <div class="clear"></div>
    </div>
    
    <div class="portfolio-link-container">
      <%= link_to "VIEW FULL PORTFOLIO", portfolio_path %>
    </div>
   
  </div>
</div>