<div class="page-section featured-work-section">
  <div class="container">

    <h1>FEATURED WORK</h1>

    <div class="featured-work-listings">
      <%= link_to image_tag("featured_work_tiles/featured_lspark_tile.jpg", class: "featured-work-listing"), lspark_path %>
      <%= link_to image_tag("featured_work_tiles/featured_international_safety_tile.jpg", class: "featured-work-listing"), international_safety_path %>
      <%= link_to image_tag("featured_work_tiles/featured_curtiss_wright_tile.jpg", class: "featured-work-listing"), curtiss_wright_path %>
      <%= link_to image_tag("featured_work_tiles/featured_filefacets_tile.jpg", class: "featured-work-listing"), filefacets_path %>
      <%= link_to image_tag("featured_work_tiles/featured_ewa_tile.jpg", class: "featured-work-listing"), ewa_path %>
      <%= link_to image_tag("featured_work_tiles/featured_splice_tile.jpg", class: "featured-work-listing"), splice_path %>
      <%= link_to image_tag("featured_work_tiles/featured_mydoma_tile.jpg", class: "featured-work-listing"), mydoma_path %>
      <%= link_to image_tag("featured_work_tiles/featured_inspec_homes_tile.jpg", class: "featured-work-listing"), inspec_homes_path %>
      <div class="clear"></div>
    </div>
    
    <div class="portfolio-link-container">
      <%= link_to "VIEW FULL PORTFOLIO", portfolio_path %>
    </div>
   
  </div>
</div>