<div class="navigation-bar navigation-bar-fixed">
	<div class="container">
    <div class="logo">
      <%= image_tag "logo2015-white-500x108.png", :class => "logo" %>
    </div>
		<div class="nav-links">
			<%= link_to "SERVICES", "#", :id => "services-link", :class => "nav-link", :destination => ".services-section" %>
			<%= link_to "NEWS", "#", :id => "news-link", :class => "nav-link", :destination => ".news-section" %>
			<%= link_to "ABOUT", "#", :id => "about-link", :class => "nav-link", :destination => ".about-section" %>
			<%= link_to "CONTACT", "#", :id => "contact-link", :class => "nav-link", :destination => ".contact-section" %>
		</div>
		<div class="clear-floats"></div>
	</div>
</div>