<div class="page-section services-section">
	<div class="container">

		<h1>WHAT WE BUILD</h1>
		
		<div class="feature">
			<%= fa_icon("desktop", class: "feature-icon") %>
			<h2>Web Applications</h2>
			<div class="description">			
				Are you a startup with the next big idea? A well-establish company with
				an amazing side project? BiteSite
				can help. We help businesses execute their vision by building
				powerful full stack Web Applications. And we're not talking about
				your basic websites here or sites built on CMSs like Wordpress.
				We're talking about full-blown custom Web Applications.
			</div>
		</div>

		<div class="feature">
			<%= fa_icon("video-camera", class: "feature-icon") %>
			<h2>Video Productions</h2>
			<div class="description">
				From Live Video to Motion Graphics, BiteSite has a
				passion for the video format. Promotional Material,
				Training Videos, and Event Coverage are just a few of the
				projects BiteSite has taken on. Video is an
				extremely effective mode of communication and gets people excited about your message. 
				BiteSite delivers professional quality video with a strong artistic direction.	
			</div>
		</div>
		
		<div class="feature">
			<%= fa_icon("mobile", class: "feature-icon") %>
			<h2>Mobile Applications</h2>
			<div class="description">
				Need a iOS or Android App to complement your web application?
				Or maybe you have an amazing idea and need a team to build
				your prototype? Whatever your mobile needs are, BiteSite
				can help you build rich native apps to execute your vision.
			</div>
		</div>
		<div class="clear"></div>

		<div class="competencies-section">
			We execute our core projects with our many competencies:

			<div class="competencies">
				<% @competencies.each do |competency| %>

					<span class='competency'>
						<%= fa_icon(competency[:icon]) %> <%= competency[:title] %>
					</span>

				<% end %>	
			</div>
		</div>

		<div class="tools-section">
			using our core toolset:

			<div class="tools">
				<% @tools.each do |tool| %>
					<span class="tool">
						<%= fa_icon(tool[:icon]) %> <%= tool[:title] %>
					</span>
				<% end %>
			</div>
		</div>

	</div>
</div>