<div class="page-section services-section">
	<div class="container">

		<h1>Services</h1>
		
		<div class="feature">
			<%= image_tag "webdesign.png", :class => "screenshot screenshot-left webdesign" %>
		
			<div class="caption-right caption">
				<h2>Web Design & Development</h2>
				BiteSite offers full-scale Web Design and Development
				to its customers. Whether it be a simple one-page site
				to put you on the map, or a full-blown web application
				to increase efficiency at your business, BiteSite can
				do it. BiteSite’s customers historically have included
				individuals looking for a stylish porfolio, couples looking
				for a wedding website, and small business looking
				for a web presence. 
				<br>
				<%= link_to "View some of our web work", "#", :class => "portfolio-text-link", :id => "web-portfolio-text-link" %>
				<br>
				<%= image_tag "price200.png", :class => "price-tag" %>
			</div>
			<div class="clear-floats"></div>
		</div>
	</div>
	
	<div class="webdesign-portfolio folder-portfolio">
		<div class="container">
			<div class="folder-portfolio-header">SOME OF OUR WEB WORK</div>
			<ul>
				<li><%= link_to "ELLIOTT FARM EQUIPMENT", "http://www.elliottfarmequipment.com", :target => "_blank" %></li>
				<li>/</li>
				<li><%= link_to "M&D", "http://www.marilynanddouglas.com", :target => "_blank" %></li>
				<li>/</li>
				<li><%= link_to "ELITE EDGE", "http://www.elite-edge.ca", :target => "_blank" %></li>
				<li>/</li>
				<li><%= link_to "LIAM WONG", "http://www.liamwongsound.com", :target => "_blank" %></li>
				<li>/</li>
				<li><%= link_to "CAPO", "http://www.capoapp.ca", :target => "_blank" %></li>
				<li>/</li>
				<li><%= link_to "JEN & WAYNE", "http://www.jenandwayne.com", :target => "_blank" %></li>
			</ul>
			<div class="clear-floats">
				
			</div>
			<%= link_to "CLOSE", "#", :class => "webdesign-portfolio-close standard-button" %>			
		</div>

	</div>
	
	<div class="container">

		
		<div class="feature">
			<%= image_tag "mobiledevelopment.png", :class => "screenshot screenshot-right mobiledevelopment" %>

			<div class="caption-left caption">
				<h2>Mobile Development</h2>
				Today’s mobile market is growing at an incredible rate
				and companies are realizing that a mobile presence is
				key to their success. Whether it be Mobile-Optimized
				sites, or native iOS Apps, BiteSite has a lot to offer.
				BiteSite will help you design and deliver a compelling
				experience for your customers. 
				<br>
				<%= link_to "View some of our mobile work", "#", :class => "portfolio-text-link", :id => "mobile-portfolio-text-link" %>
				<br>
				<%= image_tag "price750.png", :class => "price-tag" %>
				
			</div>
			<div class="clear-floats"></div>
		</div>
	</div>
	
	<div class="mobiledevelopment-portfolio folder-portfolio">
		<div class="container">
			<div class="folder-portfolio-header">SOME OF OUR MOBILE WORK</div>
			<ul>
				<li><%= link_to "CNTDWN", "https://itunes.apple.com/app/cntdwn/id555898837?mt=8", :target => "_blank" %></li>
				<li>/</li>
				<li>AIDFIRST (work in progress)</li>
				<li>/</li>
				<li><%= link_to "CAPO (web-optimized site)", "http://www.capoapp.ca", :target => "_blank" %></li>
			</ul>
			<div class="clear-floats">
				
			</div>
			<%= link_to "CLOSE", "#", :class => "mobiledevelopment-portfolio-close standard-button" %>			
		</div>

	</div>
	
	<div class="container">
		
		<div class="feature">
			<%= image_tag "photography.png", :class => "screenshot screenshot-left photography portfolio-item-photos", "data-title" => "weddingphotos" %>

			<div class="caption-right caption">
				<h2>Photography</h2>
				BiteSite offers photography services for a variety of
				occassions from Weddings, to Corporate Advertising,
				and Special Events. BiteSite loves original work and
				that’s why our photography services can be combined
				with our Web offerrings to give a truly unique look. No
				more stock photos of people that have nothing to do
				with your company working in offices that you’ve
				never seen before. 
				<br>
				<%= link_to "View some of our shots", "#", :class => "portfolio-text-link portfolio-item-photos", "data-title" => 'weddingphotos' %>
				<br>
				<%= image_tag "price150.png", :class => "price-tag" %>
				
			</div>
			<div class="clear-floats"></div>
		</div>
		
		<div class="feature">
			<%= image_tag "videoproduction.png", 
					:class => "screenshot screenshot-right videoproduction portfolio-item",
					 "data-title" => 'demo-reel-video' %>

			<div class="caption-left caption">
				<h2>Video Production</h2>
				From Live Video to Motion Graphics, BiteSite has a
				passion for the video format. Promotional Material,
				Training Videos, and Weddings are just a few of the
				projects BiteSite has taken on . A video can be an
				extremely effective mode of communication. You can
				expect a professional quality video with a strong artistic
				direction.
				<br>
				<%= link_to "Visit our Video Portal", "/video" %> /
				<%= link_to "View one of our Wedding Videos", "#", :class => "portfolio-text-link portfolio-item", "data-title" => 'hana-and-chris-video' %>
				<br>
				<%= image_tag "price500.png", :class => "price-tag" %>
				
			</div>
			<div class="clear-floats"></div>
		</div>
		
		<div class="feature">
			<%= image_tag "graphicdesign.png", :class => "screenshot screenshot-left graphicdesign portfolio-item-photos", "data-title" => "promos" %>

			<div class="caption-right caption">
				<h2>Graphic Design</h2>
				Need a new logo? Want snazzy business cards? Or
				maybe you need some promotional material with
				a wow factor. BiteSite offers graphic design services
				to make sure that your company has a look to match
				the excellence of your company.
				<br>
				<%= link_to "View some of our graphic design work", "#", :class => "portfolio-text-link portfolio-item-photos", "data-title" => "promos" %>
				<br>
				<%= image_tag "price75.png", :class => "price-tag" %>
				
			</div>
			<div class="clear-floats"></div>
		</div>
		
	</div>
</div>