
<div id='capo' class='modal-dialog' style="display:none">
	<div class='modal-dialog-body'>
		<div id='info_body'>
			<%= image_tag 'portfolio/capoheader.png' %>
			<p>
			Capo was one of our biggest projects yet. Capo is a Open Mic Community Web Application where players
			and audience members alike can find great live music. Users can find Open Stages, Filter by City,
			Submit Open Mics, Attend and See Who's Attending. Capo also featured a iPhone-Optimized View.
			</p>
		</div>
		<div class='modal-dialog-actions'>
			<hr>
			<%= link_to 'Launch', 'http://www.capoapp.ca', :target => '_blank', :class => "standard-button" %>
			<a class='close-dialog-link standard-button' href="#" data-title='capo'>Close</a>
		</div>
	</div>
</div>

<div id='md' class='modal-dialog' style="display:none">
	<div class='modal-dialog-body'>
		<div id='info_body'>
			<%= image_tag 'portfolio/mdheader.png' %>
			<p>
			m&d was our first wedding website. It started out as a 'save the date' website, that eventually grew
			into a full-blown web application with news updates, and a RSVP system that not only allowed guests
			to RSVP online, but also allowed the couple to view a summary of all the responses. m&d also featured
			a iPhone-Optimized view to make it even easier for iPhone users.
			</p>
			
		</div>
		<div class='modal-dialog-actions'>
			<hr>
			<%= link_to 'Launch', 'http://demomarilynanddouglas.heroku.com', :target => '_blank', :class => "standard-button" %>
			<a class='close-dialog-link standard-button' href="#" data-title='md'>Close</a>
		</div>
	</div>
</div>

<div id='wwwp' class='modal-dialog' style="display:none">
	<div class='modal-dialog-body'>
		<div id='info_body'>
			<%= image_tag 'portfolio/wwwpheader.png' %>
			<p>
			WWWP is currently a work in progress. It features our most minimalist design. It is a training website intended
			to change the way the world thinks about presentations. Aside from a simple elegant design, it features a solid
			back end with Content Management features, and Open ID Authentication (with Google IDs, Yahoo IDs and more). Future
			plans include videos and other tutorials.
			</p>
		</div>
		<div class='modal-dialog-actions'>
			<hr>
			<%= link_to 'Launch', 'http://www.whatswrongwithpresentations.com', :target => '_blank', :class => "standard-button" %>
			<a class='close-dialog-link standard-button' href="#" data-title='wwwp'>Close</a>
		</div>
	</div>
</div>

<div id='caseyli' class='modal-dialog' style="display:none">
	<div class='modal-dialog-body'>
		<div id='info_body'>
			<%= image_tag 'portfolio/caseyliheader.png' %>
			<p>
			caseyli.com was the very first Ruby on Rails website that founder of BiteSite, Casey Li, built. Ruby on Rails is
			a strong new web framework that Casey has learned and applies to the majority of BiteSites. caseyli.com was a resume
			website that allowed for Content Management to add and manage resume entires. It has now grown to host training videos
			and Casey's photography services as well.
			</p>
			
		</div>
		<div class='modal-dialog-actions'>
			<hr>
			<%= link_to 'Launch', 'http://www.caseyli.com', :target => '_blank', :class => "standard-button" %>
			<a class='close-dialog-link standard-button' href="#" data-title='caseyli'>Close</a>
		</div>
	</div>
</div>

<div id='teldio-video' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body youtube-video-modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'portfolio/TeldioLogo.png' %>
				</td>
				<td>
					<div id='youtube_teldio'>				
					</div>
					<h1>Film: Teldio Video</h1>
					<p>
						While working at Teldio Corporation, founder of BiteSite, Casey Li, produced this promotional video to
						advertise Teldio's Hospitality Solution. From storyboarding to filming to editing - Casey did most of
						the work on this polished video. A showcase of Motion Graphics possibilities is also featured.<br>
						(This video is the property of <%= link_to "Teldio Corporation", "http://www.teldio.com", :target => "_blank" %>.)
					</p>
					<div class="modal-dialog-actions">
						<hr>
						<a class='close-dialog-link standard-button' href="#" data-title='teldio-video'>Close</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='northstar-video' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body vimeo-video-modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'portfolio/NorthstarLogo.png' %>
				</td>
				<td>
					<div id='vimeo_northstar'>
					</div>
					<h1>Film: NorthStar Utilities Solutions Video</h1>
					<p>
						While working at NorthStar Utilities Solutions, founder of BiteSite, Casey Li, produced this motivational video
						for a Leadership Conference competition. It went on to be featured at a Customer Conference. In all, over 300
						customers and employees viewed this video.<br>
						(This video is the property of <%= link_to "NorthStar Utilities Solutions", "http://www.northstarutilities.com", :target => "_blank" %>).
					</p>
					<div class="modal-dialog-actions">
						<hr>
						<a class='close-dialog-link standard-button' href="#" data-title='northstar-video'>Close</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='spy-am-i-video' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body vimeo-wide-video-modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'portfolio/spyami.png' %>
				</td>
				<td>
					<div id='vimeo_spyami'>
					</div>
					<h1>Film: Spy Am I Promo Video</h1>
					<p>
						Spy Am I is an iOS Game developed by <%= link_to "Going AFK", "http://www.goingafk.com", :target => "_blank" %> released in 2011.
						Going AFK wanted a sleek, short video for a conference to showcase their new game. They also wanted a short turn-around time.
						Working with screencasts provided by Going AFK, the following video was produced in 1 day.<br>
						(This video is the property of <%= link_to "Going AFK", "http://www.goingafk.com", :target => "_blank" %>.)
					</p>
					<div class="modal-dialog-actions">
						<hr>
						<a class='close-dialog-link standard-button' href="#" data-title='spy-am-i-video'>Close</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='photos-dialog' class='modal-dialog' style='display:none'>
	<div class='modal-dialog-body photos-modal-dialog-body'>
		<div id="photos-dialog-body">
		</div>
		<div id="photos-counter">
		</div>
		<div class="modal-dialog-actions">
			<hr>
			<a class='prev-photo-link standard-button' href="#">&lt;&lt;</a>
			<a class='next-photo-link standard-button' href="#">&gt;&gt;</a>
			<a class='close-dialog-link standard-button' href="#" data-title='photos-dialog'>Close</a>
		</div>
	</div>
</div>