<%= image_tag "aboutheader_inshad.png", :class => "page-header" %>

<table class="about-table">
	<tr>
		<td class="left-col">
			<p>
				BiteSite.ca is a web design and development company based out of Ottawa, Canada. We have a strong philosophy in making things simple for our customers.
				We're less focused on things like business development, and more focused on delivering tangible products to our customers. Although we have great respect
				for the big boys like Google, Facebook, Shopify and the way they do things, we have no visions of taking over the world or being the next big thing. 
			</p>
			<p>
				We get way more satisfaction in developing something for somebody and having them say "Wow, that's really cool!" than landing a huge deal attached to a
				lot of dollars.
			</p>
			<p>
				<div class="article-highlight">
					We get way more satisfaction in developing something for somebody and having them say "Wow, that's really cool!" than landing a huge deal attached to a
					lot of dollars.
				</div>
				We also have a philosophy in finding a good fit between customer and company. We think that if a project is not right for us, it will be bad news
				for both parties involved. However, if we find a good fit, then we know we can really deliver something great. That's why we really have a no
				pressure sales model. We want to work on projects we know that we'll have fun implementing and be truly proud of. If the customer is not happy
				or we can't deliver - then what's the point in taking on the project. Just for dollars? BiteSite.ca doesn't think so.
			</p>
			<p>
				When it comes to dealing with customers - we like to deal with all sorts of customers. We get great satisfaction in dealing with customers who
				have no idea what they want and have never touched a computer in their life. We love educating others on what Web is all about. On the other hand
				we love dealing with highly technical people who we can learn from as well. In our past lives, we discovered that collaboration is truly the only
				way to success.
			</p>
			<p>
				Design? Just like our delivery process - BiteSite.ca is big on the "less is more" philosophy. There's a certain timelessness to simple elegant
				designs. However, that being said - BiteSite.ca also highly respects full, lush designs.
			</p>
			<p>
				When it comes down to it - BiteSite.ca was started with the intention of working on great things and having fun while doing it. And that's not
				just for our staff. We believe it should be fun for the customer as well. When both parties involved have fun and let their creative juices flow,
				truly amazing sites and applications are born.
			</p>
			<p>
				BiteSite.ca believes in culture above all else. If we sound like a fit, be sure to contact us <%= link_to "here", "/contact" %>.
			</p>
		</td>
		<td class="about-pics">
			<%= image_tag "distillerydistrict1.png", :class => "triptych" %>
			<%= image_tag "distillerydistrict2.png", :class => "triptych" %>
			<%= image_tag "distillerydistrict3.png", :class => "triptych" %>
			<div class="picture-caption">random triptych by casey li, ceo of bitesite.ca</div>
		</td>
	</tr>
</table>