<div class="blank-page-navigation-bar">
  <div class="container">
    <div class="blank-page-nav-links">
      <%= link_to "BACK TO BITESITE.CA", "/" %>
    </div>
    <div class="clear-floats"></div>
  </div>
</div>

<div class="faq">

  <div class="container">
    
    <h1>FAQ</h1>

    <div class="faq-entry">
      <div class="question">
        Can I have a contact form on my website?
      </div>
      <div class="answer">
        <p>
          You sure can, but there are a couple of things you need to understand first.
          The basic idea to a contact form on your website is that when a visitor fills
          out the contact form, your website is going to send you an e-mail notifying you
          that the visitor has contacted you with the information they supplied in the form.
        </p>
        
        <p>
          The question is - how does your website send you an e-mail? Well it's very similar
          to how your smartphone, or tablet, or desktop appilcation sends an e-mail.
        </p>

        <p>
          When you setup your smartphone or tablet or application like Apple Mail or Microsoft
          Outlook, here's what it looks like:

          <%= image_tag "emailexplanation001.png" %>

          So you hook up your smartphone to an existing e-mail account to send e-mails to
          some destination address.
        </p>

        <p>
          Here's what a concrete example might look like:

          <%= image_tag "emailexplanation002.png" %>

          So in this example, your iPhone is hooked up to your GMail account. Your iPhone will
          use your GMail account to send e-mails to your friend's e-mail address.
        </p>

        <p>
          Now when it comes to your website's contact form, it's not very different. Here's
          what the setup is:

          <%= image_tag "emailexplanation003.png" %>

          So rather than your smartphone being hooked up to your e-mail account, your website
          is hooked up to your e-mail account so that your website can send e-mails.
        </p>

        <p>
          Again, the idea is that your website will use your e-mail account to send e-mails
          to you notifying you that someone has contact you. Here is a specific example:

          <%= image_tag "emailexplanation004.png" %>
        </p>

        <p>
          So what does this mean for you? If you want BiteSite to code a contact form for you,
          you'll have to give BiteSite the following information:

          <ul>
            <li>
              An <span class='email-account'>e-mail account</span> you want to use to do the
              sending of the notification e-mails. You will have to give BiteSite staff 
              the username and password of this account - so make sure it's something 
              you're comfortable divulging to BiteSite staff. BiteSite heavily favours
              and suggests GMail accounts or Google Apps for Business accounts as
              they are the easiest to deal with.
            </li>

            <li>
              A <span class='destination-email-address'>destination e-mail address</span> where you want to receive the notification e-mails
              that someone has contacted you. There is absolutely nothing wrong with picking
              the e-mail address that is associated with the e-mail account you picked above,
              but you also have to option of selecting a different e-mail address is you want.
            </li>
          </ul>
        </p>

      </div>
    </div>
    

  </div>

  

</div>