<div id="home">
<%= render "hero" %>
<%= render "navigation" %>
<%= render "services" %>
<%= render "news" %>
<%= render "about" %>
<%= render "contact" %>
<%= render "footer" %>
<%= render "portfolio_dialogs" %>
</div>