<div id="pages-home">
  <div class='circles-container'>
    <%= image_tag 'Wireframe-Circles.png', class: 'circles' %>
  </div>
  
  <div class="hero">
    <div class="container">
      <div class='slogan'>We build <span class='emphasize'>custom software</span>.</div>
      <div class='subslogan'>
        BITESITE IS A CUSTOM SOFTWARE FIRM FOCUSED
        ON BUILDING <span class='emphasize'>WEB AND MOBILE APPLICATIONS</span>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="container">
      <div class="service">
        <div class="header">
          <%= image_tag 'Wireframe-Computer.png' %>
          <h2>Custom Software</h2>
        </div>
        <div class="writeup spaced">
          BiteSite is a full service custom software shop. From process, to design,
          to implementation, we deliver web and mobile applications to execute your vision. 
          <%= link_to 'Read more →', services_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class='container'>
      <h1 class='section-header'>
        <span class='text'>Customers</span>
        <div class='background-extension'></div>
      </h1>
      <div class='spaced center-aligned'>
        Here are just a few of our custom software customers
      </div>

      <div class="feature-list customer-list">
        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'international-safety.jpg' %>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'inspec-homes.jpg' %>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'fansaves.jpg' %>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'above-the-line-media-services.jpg' %>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'fnpc.jpg' %>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'bluebirdcoffee.jpg' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="featured-blog-section">
    <div class="container">
      <h1 class='section-header'>
        <span class='text'>Blog</span>
        <div class='background-extension'></div>
      </h1>

      <div class="center-aligned">
        Our featured posts
      </div>
      
      <div class='featured-blog-posts'>
        <% @latest_blog_posts.each do |blog_post| %>
          <div class="blog-post spaced">
            <div class='image-container'>
              <%= image_tag blog_post.featured_image %>
            </div>
            <div class="title"><%= blog_post.title %></div>
            <div class="description">
              <%= blog_post.meta_description %>
            </div>
            <%= link_to 'Read more →', blog_post %>
          </div>
        <% end %>
      </div>

      <div class='center-aligned view-all-container'>
        <%= link_to "View all posts", blog_posts_path %>
      </div>

    </div>
  </div>

  <div class="contact-section">
    <div class="container">
      <h1 class='section-header'>
        <span class='text'>Contact</span>
        <div class='background-extension'></div>
      </h1>

      <div class='contact-section-body'>
        <%= render 'pages/contact_form' %>
        <div class="contact-caption">

          <h3>Contact us for anything!</h3> 
          <p class='spaced'>Know exactly what you want? Have no idea at all? Want to just open up a conversation about your options? 
          Have some technical questions? Whatever it may be, please drop us a line and we'll do
          our best to answer any questions you may have.</p>

          <p class='spaced'><b>BiteSite believes strongly in finding a good fit company for a good
          fit customer</b>. So if we find out we're not right for you, we won't pressure you. If we do, we'll
          be happy to build something you'll truly be excited about.</p>
          
          <p class='spaced'>If you have any troubles with the contact form, you can also e-mail us directly at <b><%= link_to "info@bitesite.ca", "mailto:info@bitesite.ca" %></b>.</p>

        </div>
      </div>

    </div>
  </div>
</div>