<div id="home-panel">
	<%= image_tag "splash1.png" %>

	<div class="bar-links">
		<%= link_to "WHO ARE YOU?", "#", :id => "whoareyou", :class => "bar-link" %>
		<%= link_to "WHO ARE WE?", "#", :id => "whoarewe", :class => "bar-link" %>
		<%= link_to "GET STARTED", "#", :id => "getstarted", :class => "bar-link" %>
	</div>

	<div class="text-line" />

	<table class="features-table">
		<tr>
			<td>
				<div class="center-block">
					<%= image_tag "simpledesign.png", :class => "icon-image" %>				
				</div>
				<h3>Elegant Design</h3>
				All BiteSites feature a gorgeous, yet simple design tailored to your personality, your business, or your event. We
				believe in a less is more design aesthetic that has brought so many companies success.
			</td>
			<td>
				<div class="center-block"><%= image_tag "fastdelivery.png", :class => "icon-image" %></div>
				<h3>Simple and Fast Delivery</h3>
				Hate dealing with a lot of overhead and complication? BiteSite focuses on what matters most - the end product.
				BiteSite has a strong belief in that things can be done in a simpler fashion that still brings high-quality
				results. That's why we offer easy one-time-payment packages to satisfy the needs of our customers.
			</td>
			<td>
				<div class="center-block"><%= image_tag "multimedia.png", :class => "icon-image" %></div>
				<h3>Multimedia Packages</h3>
				As an added bonus, BiteSite also does photography and video shoots. Want to personalize your site with genuine, professional
				media of your business or event? No more dealing with generic stock photos. Most Photo shoots can be done in as little as
				an afternoon so you can get back to what's important.
			</td>
			<td class="right-edge-cell">
				<div class="center-block"><%= image_tag "updates.png", :class => "icon-image" %></div>
				<h3>Flexible Updates</h3>
				Concerned that you're paying to much in monthly fees? On-demand update packages are available. Concerned that you'll need
				regular updates all the time? We've got that covered too with cheap monthly and annual costs.
			</td>
		</tr>
	</table>
</div>

<div id='whoareyou_dialog' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'fastdelivery.png' %>
				</td>
				<td>
					<h1>WHO ARE YOU?</h1>
					<p>
					<h2>A Business</h2>
					...just starting out and you want to get a web presence with a simple website.
					<h2>An Event Organizer</h2>
					...like a fundraiser
					<h2>A Couple</h2>
					...looking to launch an engagement or wedding website full or photos and information about your special day.
					Perhaps you even want a RSVP system implemented.
					<h2>An Individual</h2>
					...who just wants a web presence.
					</p>
					<div class>
						<a class='close-dialog-link' dialog_to_close="#whoareyou_dialog" href="#">Close</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='whoarewe_dialog' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'fastdelivery.png' %>
				</td>
				<td>
					<h1>WHO ARE WE?</h1>
					<p>
					<h2>A Web Design Company</h2>
					...that can build elegant websites for all occasions and needs.
					<h2>Media Production Company</h2>
					...that can supplement your website with professional photos and videos.
					<h2>A Simpler Company</h2>
					...that's passionate about customer relations, friendly service, and delivering quality
					with simplicity.
					</p>
					<div class>
						<a class='close-dialog-link' dialog_to_close="#whoarewe_dialog" href="#">Close</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id='getstarted_dialog' class='modal-dialog' style="display:none;">
	<div class='modal-dialog-body'>
		<table class='dialog'>
			<tr>
				<td>
					<%= image_tag 'fastdelivery.png' %>
				</td>
				<td>
					<h1>GET STARTED</h1>
					<p>
					The Capo Open Mic Community App is by far the Rails project I'm most proud of to date.
					After doing my initial learning of Rails and getting some full-time experience, I decided
					to get to work on my own project and Capo was the result. It is a Social Network for Open Mic/Open Stage
					performers and audience members alike. It allows users to browse, submit, and attend open mics.
					It also features a full-blown JQTouch iPhone-optimized UI. This app taught me a lot about dealing with
					real users as well as overall product development in Rails.
					</p>
					<div class>
						<a class='close-dialog-link' dialog_to_close="#getstarted_dialog" href="#">Close</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<script type="text/javascript">
	$("#whoareyou").click(function(){
		toggleDialog("#whoareyou_dialog");
		return false;
	});
	
	$("#whoarewe").click(function(){
		toggleDialog("#whoarewe_dialog");
		return false;
	});
	
	$("#getstarted").click(function(){
		toggleDialog("#getstarted_dialog");
		return false;
	});
	
	$(".close-dialog-link").click(function(e){
		toggleDialog($(e.target).attr("dialog_to_close"));
		return false;
	});

	function toggleDialog(dialog_id){	
		$(dialog_id).fadeToggle(400);
	}
</script>