<div id="home">
<%= render "pages/home_partials/hero" %>
<%= render "pages/home_partials/navigation" %>
<%= render "pages/home_partials/services" %>
<%= render "pages/home_partials/news" %>
<%= render "pages/home_partials/about" %>
<%= render "pages/home_partials/contact" %>
<%= render "pages/home_partials/footer" %>
<%= render "pages/home_partials/portfolio_dialogs" %>
</div>