<div class="hero">
	<div class="container">		
		<%= image_tag "businesscard.png", :class => "business-card" %>
		<%= image_tag "logo.png", :class => "logo" %>
		<div class="hero-description">	
			BITESITE IS AN OTTAWA-BASED COMPANY SPECIALIZING
			IN WEB DESIGN, WEB DEVELOPMENT, IOS DEVELOPMENT,
			PHOTOGRAPHY, FILM, AND GRAPHIC DESIGN.
		</div>		

	</div>
</div>

<div class="navigation-bar">
	<div class="container">
		<div class="nav-links">
			<%= link_to "SERVICES", "#", :id => "services-link" %>
			<%= link_to "NEWS", "#", :id => "news-link" %>
			<%= link_to "ABOUT", "#", :id => "about-link" %>
			<%= link_to "CONTACT", "#", :id => "contact-link" %>
		</div>
		<div class="clear-floats"></div>
	</div>
</div>

<div class="page-section services-section">
	<div class="container">

		<h1>Services</h1>
		
		<div class="feature">
			<%= image_tag "webdesign.png", :class => "screenshot screenshot-left webdesign" %>
		
			<div class="caption-right caption">
				<h2>Web Design & Development</h2>
				BiteSite offers full-scale Web Design and Development
				to its customers. Whether it be a simple one-page site
				to put you on the map, or a full-blown web application
				to increase efficiency at your business, BiteSite can
				do it. BiteSite’s customers historically have included
				individuals looking for a stylish porfolio, couples looking
				for a wedding website, and small business looking
				for a web precense.
				<br>
				<%= image_tag "price200.png", :class => "price-tag" %>
			</div>
			<div class="clear-floats"></div>
		</div>
		

		
		<div class="feature">
			<%= image_tag "mobiledevelopment.png", :class => "screenshot screenshot-right mobiledevelopment" %>

			<div class="caption-left caption">
				<h2>Mobile Development</h2>
				Today’s mobile market is growing at an incredible rate
				and companies are realizing that a mobile presence is
				key to their success. Whether it be Mobile-Optimized
				sites, or native iOS Apps, BiteSite has a lot to offer.
				BiteSite will help you design and deliver a compelling
				experience for your customers. 
				<br>
				<%= image_tag "price750.png", :class => "price-tag" %>
				
			</div>
			<div class="clear-floats"></div>
		</div>
		
		<div class="feature">
			<%= image_tag "photography.png", :class => "screenshot screenshot-left photography" %>

			<div class="caption-right caption">
				<h2>Photography</h2>
				BiteSite offers photography services for a variety of
				occassions from Weddings, to Corporate Advertising,
				and Special Events. BiteSite loves original work and
				that’s why our photography services can be combined
				with our Web offerrings to give a truly unique look. No
				more stock photos of people that have nothing to do
				with your company working in offices that you’ve
				never seen before. 
				<br>
				<%= image_tag "price250.png", :class => "price-tag" %>
				
			</div>
			<div class="clear-floats"></div>
		</div>
		
		<div class="feature">
			<%= image_tag "videoproduction.png", :class => "screenshot screenshot-right videoproduction" %>

			<div class="caption-left caption">
				<h2>Video Production</h2>
				From Live Video to Motion Graphics, BiteSite has a
				passion for the video format. Promotional Material,
				Training Videos, and Weddings are just a few of the
				projects BiteSite has taken on . A video can be an
				extremely effective mode of communication. You can
				expect a professional quality video with a strong artistic
				direction.
				<br>
				<%= image_tag "price500.png", :class => "price-tag" %>
				
			</div>
			<div class="clear-floats"></div>
		</div>
		
		<div class="feature">
			<%= image_tag "graphicdesign.png", :class => "screenshot screenshot-left graphicdesign" %>

			<div class="caption-right caption">
				<h2>Graphic Design</h2>
				Need a new logo? Want snazzy business cards? Or
				maybe you need some promotional material with
				a wow factor. BiteSite offers graphic design services
				to make sure that your company has a look to match
				the excellence of your company.
				<br>
				<%= image_tag "price75.png", :class => "price-tag" %>
				
			</div>
			<div class="clear-floats"></div>
		</div>
		
	</div>
</div>

<div class="page-section news-section">
	<div class="container">
		<h1>News</h1>
		<div class="recent-news-posts">
			<% @recent_news_posts[0..2].each do |news_post| %>
				<div class="recent-news-post">
					<% if news_post.image_url.nil? %>
						<%= image_tag "defaultnews.png", :class => "recent-news-post-image" %>
					<% else %>
						<%= image_tag news_post.image_url.to_s, :class => "recent-news-post-image" %>
					<% end %>
					<div class="recent-news-post-body"><%= raw news_post.body %></div>
				</div>
			<% end %>
		</div>
		<div class="clear-floats"></div>		
		<%= link_to "MORE NEWS", "/news", :class => "more-news" %>
		

	</div>
</div>

<div class="page-section about-section">
	<div class="container">
		<h1>About</h1>
		
		<%= image_tag "me.png", :class => "about-picture" %>
		<div class="about-picture-caption">
			CASEY LI . FOUNDER
		</div>
		<div class="about-text">
		<p>
			BiteSite is a web design and development company based out of Ottawa, Canada. We have a strong philosophy in making things simple for our customers.
			We're less focused on things like business development, and more focused on delivering tangible products to our customers. Although we have great respect
			for the big boys like Google, Facebook, Shopify and the way they do things, we have no visions of taking over the world or being the next big thing. 
		</p>
		<p>
			We get way more satisfaction in developing something for somebody and having them say "Wow, that's really cool!" than landing a huge deal attached to a
			lot of dollars.
		</p>
		<p>
			We also have a philosophy in finding a good fit between customer and company. We think that if a project is not right for us, it will be bad news
			for both parties involved. However, if we find a good fit, then we know we can deliver something both parties will be excited about.
			That's why we really have a no
			pressure sales model. We want to work on projects we know that we'll have fun implementing and be truly proud of. If the customer is not happy
			or we can't deliver - then what's the point in taking on the project in the first place. Just for dollars? Just to expand our portfolio? 
			BiteSite doesn't think so.
		</p>
		<p>
			When it comes to dealing with customers - we like to deal with all sorts of customers. We get great satisfaction in dealing with customers who
			have no idea what they want and have never touched a computer in their life. We love educating others on the Web and what it's all about. On the other hand,
			we love dealing with highly technical people who we can learn from as well. In our past lives, we discovered that collaboration is truly the only
			way to success.
		</p>
		<p>
			Design? Just like our delivery process - BiteSite is big on the "less is more" philosophy. There's a certain timelessness to simple elegant
			designs. However, that being said - BiteSite also highly respects full, lush designs.
		</p>
		<p>
			When it comes down to it - BiteSite was started with the intention of working on great things and having fun while doing it. And that's not
			just for our staff. We believe it should be fun for our customers as well. When both parties involved have fun and let their creative juices flow,
			truly amazing sites and applications are born.
		</p>
		<p>
			BiteSite believes in culture above all else. If we sound like a fit, be sure to contact us <%= link_to "here", "/contact" %>.
		</p>
		</div>
		
		<div class="clear-floats"></div>
	</div>
</div>

<div class="page-section contact-section">
	<div class="container">
		<h1>Contact</h1>

		<div class="contact-form">
			<%= form_tag "/contact" do %>
				<div class="field">
					<%= label_tag :first_name, "Your First Name" %><br/>
					<%= text_field_tag :first_name, nil, :size => "30", :class => "contact-field" %><br/>
				</div>
				<div class="field">
					<%= label_tag :last_name, "Your Last Name" %><br/>
					<%= text_field_tag :last_name, nil, :size => "30", :class => "contact-field" %><br/>
				</div>
				<div class="field">
					<%= label_tag :email_address, "Your E-Mail Address" %><br/>
					<%= text_field_tag :email_address, nil, :size => "30", :class => "contact-field" %><br/>
				</div>
				<div class="field">
					<%= label_tag :message, "Message" %><br/>
					<%= text_area_tag :message, nil, :cols => 95, :rows => 10, :class => "contact-field" %><br/>
				</div>
				<div class="actions">
					<%= submit_tag "Submit", :id => "contact-submit", :class => "standard-button" %>
				</div>
			<% end %>
		</div>
		<div class="contact-caption">

			<h3>Contact us for anything!</h3> 
			<p>Know exactly what you want? Have no idea at all? Want to just open up a conversation about your options? 
			Have some technical questions? Whatever it may be, please drop us a line and we'll do
			our best to answer any questions you may have.</p>

			<p><b>BiteSite believes strongly in finding a good fit company for a good
			fit customer</b>. So if we find out we're not right for you, we won't pressure you. If we do, we'll
			be happy to build something you'll truly be excited about.</p>

		</div>
		<div class="clear-floats"></div>
	</div>
</div>

<div class="page-section footer">
	<div class="container">
		<div class="footer-info">
			BITESITE.CA . OTTAWA . ONTARIO . CANADA
		</div>
	</div>
</div>