<div class="hero">
	<div class="container">		
		<%= image_tag "businesscard.png", :class => "business-card" %>
		<%= image_tag "logo.png", :class => "logo" %>
		<div class="hero-description">	
			BITESITE IS AN OTTAWA-BASED COMPANY SPECIALIZING
			IN WEB DESIGN, WEB DEVELOPMENT, IOS DEVELOPMENT,
			PHOTOGRAPHY, FILM, AND GRAPHIC DESIGN.
		</div>		

	</div>
</div>

<div class="navigation-bar">
	<div class="container">
		<div class="nav-links">
			<%= link_to "SERVICES", "#" %>
			<%= link_to "NEWS", "#" %>
			<%= link_to "ABOUT", "#" %>
			<%= link_to "CONTACT", "#" %>
		</div>
		<div class="clear-floats"></div>
	</div>
</div>
<!--
<div class="page-section">
	<div class="container">

		<h1>This is <span class="strong">Awesome</span></h1>
		
		<div class="caption-left caption">
		</div>

		
		<div class="clear-floats"></div>
		
	</div>
</div>

<div class="page-section">
	<div class="container">
		<h1>Services</h1>
		<div class="clear-floats"></div>
	</div>
</div>

<div class="page-section">
	<div class="container">
		<h1>News</h1>
		<div class="clear-floats"></div>
	</div>
</div>

<div class="page-section">
	<div class="container">
		<h1>About</h1>
		<div class="clear-floats"></div>
	</div>
</div>

<div class="page-section">
	<div class="container">
		<h1>Contact</h1>
		<div class="clear-floats"></div>
	</div>
</div>-->