
<%= image_tag "splash1.png" %>

<div class="bar-links">
	<%= link_to "WHO ARE YOU?", "#", :id => "whoareyou", :class => "bar-link" %>
	<%= link_to "WHO ARE WE?", "#", :id => "whoarewe", :class => "bar-link" %>
	<%= link_to "GET STARTED", "#", :id => "getstarted", :class => "bar-link" %>
</div>

<table class="features-table">
	<tr>
		<td>
			<div class="center-block">
				<%= image_tag "simpledesign.png", :class => "icon-image" %>				
			</div>
			<h3>Elegant Design</h3>
			All BiteSites feature a gorgeous, yet simple design tailored to your personality, your business, or your event. We
			believe in a less is more design aesthetic that has brought so many companies success.
		</td>
		<td>
			<div class="center-block"><%= image_tag "fastdelivery.png", :class => "icon-image" %></div>
			<h3>Simple and Fast Delivery</h3>
			Hate dealing with a lot of overhead and complication? BiteSite focuses on what matters most - the end product.
			BiteSite has a strong belief in that things can be done in a simpler fashion that still brings high-quality
			results. That's why we offer easy one-time-payment packages to satisfy the needs of our customers.
		</td>
		<td>
			<div class="center-block"><%= image_tag "multimedia.png", :class => "icon-image" %></div>
			<h3>Multimedia Packages</h3>
			As an added bonus, BiteSite also does photography and video shoots. Want to personalize your site with genuine, professional
			media of your business or event? No more dealing with generic stock photos. Most Photo shoots can be done in as little as
			an afternoon so you can get back to what's important.
		</td>
		<td class="right-edge-cell">
			<div class="center-block"><%= image_tag "updates.png", :class => "icon-image" %></div>
			<h3>Flexible Updates</h3>
			Concerned that you're paying to much in monthly fees? On-demand update packages are available. Concerned that you'll need
			regular updates all the time? We've got that covered too with cheap monthly and annual costs.
		</td>
	</tr>
</table>


<div id='info_dialog' class='modal-dialog' style="display:none">
	<div class='modal-dialog-body'>
		<div id='info_header_image'></div>
		<div id='info_body'></div>
		<div>
			<a class='close-dialog-link' href="#">Close</a>
			<a id='next_dialog_link' class='next-dialog-link' data-next="" href="#">Next</a>
		</div>
	</div>
</div>


<script type="text/javascript">

    /*
     * EVENT HANDLERS -----------------------
     */
	$("#whoareyou").click(function(){
		populateDialog("whoareyou");
		toggleDialog();
		return false;
	});
	
	$("#whoarewe").click(function(){
		populateDialog("whoarewe");
		toggleDialog();
		return false;
	});
	
	$("#getstarted").click(function(){
		populateDialog("getstarted");
		toggleDialog();
		return false;
	});
	
	$("#next_dialog_link").click(function(){
		populateDialog($(this).data("next"));
		return false;
	});
	
	$(".close-dialog-link").click(function(e){
		toggleDialog();
		return false;
	});


    /*
     * populateDialog - populate body and header image
     */
	function populateDialog(title) {
		var header_image = getHeaderImage(title);
		if(header_image != "") {
			$("#info_header_image").html("<img src='/" + header_image  +"' />");
		}
		else {
			$("#info_header_image").html("");
		}
		$("#info_body").html(getBody(title));
		$("#next_dialog_link").data("next", getNext(title));
		
		if(title == "getstarted") {
			$("#next_dialog_link").hide();
		}
		else {
			$("#next_dialog_link").show();
		}
	}
	
	/*
	 * toggleDialog - show/hide dialog
	 */
	function toggleDialog(){	
		$("#info_dialog").fadeToggle(400);
	}
	
	/*
	 * getNext - retrieve the next title based on current title
	 */
	function getNext(title) {
		var next_title ="";
		if(title == "whoareyou") {
			next_title = "whoarewe";
		}
		else if(title == "whoarewe") {
			next_title = "getstarted";
		}
		else if(title == "getstarted") {
			next_title = "getstarted";
		}
		else {
			next_title = "";
		}
		return next_title;
	}
	
	/*
	 * getHeaderImage - retrieve header image based on title
	 */
	function getHeaderImage(title) {
		var image ="";
		if(title == "whoareyou") {
			image = "whoareyouheader.png";
		}
		else if(title == "whoarewe") {
			image = "whoareweheader.png";
		}
		else if(title == "getstarted") {
			image = "getstartedheader.png";
		}
		else {
			image = "";
		}
		return image;
	}
	
	/*
	 * getBody - retrieve body text based on title
	 */
	function getBody(title) {
		var body = "";
		if(title == "whoareyou") {
			body = "<p>Maybe you're a <b>small business</b> just starting out and are looking to promote your business " +
					   "online. Or maybe you're a <b>couple getting married</b> and you want to create a wedding website " +
					   "where all your guests can get the latest info about your special day. Or maybe you're hosting a <b>fundraiser</b> " +
					   "or <b>special event</b> and want a web promotion." +
					   "Or maybe you're just <b>an individual</b> " +
					   "who wants a website to act as your resume or a simple web presence. " +
					   "</p><p>Whether you're technical or have never touched a computer before in your life and whatever your need " +
					   "is, BiteSite could be a just what you're looking for.</p>";
		}
		else if(title == "whoarewe") {
			body = "<p>BiteSite is small Web Design company that believes in <b>simplicity</b>. Everything from our design " +
					   	"aesthetic to our delivery process is centered around this philosophy. We focus on building simple yet " +
						"elegant Web Sites and Web Applications for all types of customers.</p>" +
						"<p>We also offer a full range " +
						"of media services from <b>photography</b> to <b>video production</b> to <b>graphic design</b> and <b>motion graphics</b> to make your web " +
						"presence truly one that stands out. " +
						"</p>";
		}
		else if(title == "getstarted") {
			body = "<p>Does BiteSite sound like exactly what you're looking for? Then you can get started today by looking " +
						"at our <b>flexible packages</b>. We have packages designed for customer who want something up and running quick " +
						"to full blown web applications. Our <b>add-ons</b> allow you to create the package that suits your perfectly.</p>" + 
						"<p>Don't see what you're looking for? Then be sure to contact us " +
						"and we'll be able to put something together that's right for you. " +
						"</p>";
		}
		else {
			body = "We're sorry, there was an error loading this page.";
		}
		return body;
	}
</script>