<div class="blank-page-navigation-bar">
  <div class="container">
    <div class="blank-page-nav-links">
      <%= link_to "BACK TO BITESITE.CA", "/" %>
    </div>
    <div class="clear-floats"></div>
  </div>
</div>

<div class="case-study is-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>International Safety Website</h1>

      <div class="services">
        <span class="service">Web Design</span>
        <span class="service">Web Application Development</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">

      <p>
        Every day, people go to work in hazardous conditions to build our cities and keep us safe. These are the unsung heroes of the Canadian Workforce. International Safety equips these brave men and women with the most advanced safety solutions from the world’s top manufacturers.
      </p>

      <h2>The Challenge/Landscape</h2>
      <p>
        As a leader in the safety equipment industry, International Safety takes pride in the forward thinking way that the business has evolved. But this image wasn’t reflected in their online presence: the website design and the PDF catalogues used for ordering were out of date. Gus Khouri, General Manager, wanted to revamp the website with a fresh look but most of all he needed a robust product management system that could handle the over 45,000 product SKUs that they distribute. This isn’t a small feat for any web development team, but, at BiteSite, we love a challenge and the opportunity to be more involved with our client’s business.
      </p>

      <%= image_tag "is_screenshots_1.png", class: "img-responsive" %>

      <h2>Web Design</h2>
      <p>
        To introduce a completely new look and feel, we began building the website from scratch. International Safety’s corporate audience is used to seeing conservative industry websites. We brought a fresh perspective by integrating modern design trends while maintaining a professional image. The product category feature, inspired by Windows 8 tiles, was created to give users a better navigational flow of the massive inventory of products. Without any clutter or long lists of products, they can quickly find exactly what they need.
      </p>
      <p>
        To make the transition to the new website as smooth as possible, we kept the legacy PDF catalogues until all the data had been moved. Eventually we were able to get rid of the PDF system altogether, which was a big step forward for International Safety and an added convenience for their staff and customers.
      </p>

      <h2>Web Application Development</h2>
      <p>
        Before working with BiteSite, Gus explored different product management services to replace the catalogue order system. He soon realized that using existing options like Shopify’s platform would require his team to manually input the details of all 45,000 product SKUs.
      </p>

      <%= image_tag "is_screenshots_2.png", class: "img-responsive" %>

      <p>
        The complicated pricing model also had to be considered: it involved using vendor pricesheets to calculate the cost for end buyers based on the MSRP, freight, exchange rate, taxes and desired profit margin.
      </p>

      <p>
        As they say, making something simple can be deceptively complicated. While the new website for International Safety looks simple on the front-end, it runs on a custom-built backend to address the product management and pricing challenges. The advantage of custom building web applications is that we can give our clients very powerful tools tailored to their needs.
      </p>
       
      <p>
        Developing the software was and remains today a continuous feedback loop with International Safety. As the International Safety team began using the software, we recorded their experience and requests. Based on this feedback, we’ve been continuously enhancing the application and adding new features.
      </p>
       
      <p>
        The product management application allows employees to enter and modify multiple products at the same time. In addition, we worked closely with Gus and his team to come up with a pricing system to solve their complex needs.
      </p>

      <%= image_tag "is_screenshots_3.png", class: "img-responsive" %>

      <h2>Outcome</h2>
      <p>
        International Safety came to us for a new website but our collaboration evolved into a much larger vision and goal. The online presence of the company is now at par with the innovative products and services that they offer and makes them standout amongst other suppliers in the industry. Already the web application has had a positive impact on both employees and customers by making the entire buying process seamless. We’re continuing to work with International Safety to provide them with the right tools to scale the business as it grows.
      </p>

      <div class='quote'>
        <div class="avatar">
          <%= image_tag "guskhouri.png" %>
        </div>
        <div class="body">
          "We have a massive database of products for sale. Our customers can now quickly sort through thousands of products and find exactly what they need in seconds." 
          <div class='author'>-Gus Khouri, General Manager, International Safety Systems</div>
        </div>
        <div class="clear"></div>
      </div>

      <p>
        For more information about International Safety, visit 
        <%= link_to "www.internationalsafety.com", "http://www.internationalsafety.com", target: "_blank" %>.
      </p>

      <p>
        Written by Rally Stanoeva (<%= link_to "www.rallystano.com", "http://www.rallystano.com" %>)
      </p>

    </div>
    
  </div>

  
  
</div>