<div class="case-study mydoma-case-study">

  <div class="hero">
    <div class="container">
    
      <h1>Mydoma Studio Promotional Video</h1>

      <div class="services">
        <span class="service">Live Action Scripted Film Production</span>
      </div>

    </div>  
  </div>
  <div class="main-body">
    <div class="container">

      <h2>Customer profile</h2>

      <p>
        Mydoma Inc was founded by duo Sarah Daniele and Thomas Martineau. Combining her expertise in interior design and his years of experience in software development, they created Mydoma Studio, an eDesign workflow management tool built to aid designers in today’s ever-advancing world.
      </p>

      <h2>Intro/Goal</h2>

      <p>
        When Mydoma approached BiteSite, they already had a great web application but they knew that a video would be one of the most effective ways to convey the value of their product. It’s quick, engaging and highly visual. As with most of our video production projects, the process was highly collaborative between BiteSite and the client to ensure that all the elements came together in just the right way. Below is an outline of the process we took to create the Mydoma Studio explainer video.
      </p>

     <h2>Process</h2>

      <p>
        <b>Kickoff meeting</b>: We sat down with Mydoma to discuss the high-level ideas, requirements and budget for the video. Decisions like whether live action or animated would be a better fit for the brand were made. For Mydoma, we chose live action. 
      </p>

      <%= image_tag "mydoma_whiteboards.png", class: "img-responsive" %> 

      <p>
        <b>Concept meeting</b>: It’s important for us to really understand our client’s business, industry and customers before diving into the creative process. Sarah really helped us understand the the world of interior design and more specifically how a designer would incorporate Mydoma Studio into their workflow. We also discussed key messages, and core audience for the production. With all this information in place, we came up with a rough storyline and structure for the video.
      </p>

      <p>
        <b>General Pre-production meeting</b>: The logistics meeting is where we planned out how we were going to accomplish the shoot, more specifically the location and actors. The budget didn’t allow us to rent out a space so we had to get creative and leverage a lot of Mydoma's connections. This paid off in the end as we used actual interior design offices and client spaces giving the video an authentic look. 
      </p>

      <p>
        <b>Script</b>: BiteSite’s Casey Li was in charge of writing the script and to start his process, he had to find a song that captured the mood of the video. He picked “Hey, Soul Sister” by Train. Listening to it over and over in coffee shops and walking up and down the streets of Ottawa helped him visualize the scenes and write with the script. 
      </p>

      <p>
        <b>Script Pitch and Approval</b>: At this stage, we take our written words and present them to the client. While Mydoma was happy with the script overall, we had a lot of good back and forth discussions with Sarah and Thomas to tweak certain lines until the messaging was the best that it could be.
      </p>

      <%= image_tag "mydoma_scripts.png", class: "img-responsive" %> 

      <p>
        <b>Storyboards</b>: Storyboards help us communicate to the client the overall visual feel of the video before we get to the shoot. It also helps us plan everything we need for the shoot including the shot list, what locations we need, what actors/actresses we need, what set dressing and props we need, and more. Storyboarding is an important step for us not only in communicating creatively what the video will look like, but also as an organizational and planning tool.  
      </p>

      <%= image_tag "mydoma_storyboards.png", class: "img-responsive" %> 

      <p>
        <b>Location Survey</b>: We visited several potential locations before deciding on the 2 that we used. While surveying locations, we envision how each scene will be put together, determine if any set dressing is necessary, make sure lighting and sound conditions are right, among other important details. 
      </p>

      <p>
        <b>General Pre-production meeting 2</b>: The storyboards were broken down into a shot list and organized by location, wardrobe and props so that everyone involved knows exactly what’s going on for each scene.
      </p>

      <p>
        <b>Production</b>: We are able to squeeze all of our principal photography into 1 day. A big thanks to the people who donated their spaces and their time.
      </p> 

      <p>
        <b>Voice-over recording</b>: Using Voxtalent.com, a Canadian voice-over firm, we worked with Mydoma to find the perfect actress for our script.
      </p>

      <p>
        <b>Editing, Color, Sound Mix, and Motion Graphics</b>: Aside from the usual editing, color correction, and sound mix, we wanted to incorporate some motion graphics as well to better illustrate the product. This was the first time we had done things like match-moves so we were quite happy with the results.
        After reviewing the several cuts, and making a few tweaks, the video was complete. 
      </p>

      <h2>Outcome</h2>

      <p>
        Having the experience and capabilities to do both live action and motion graphics allows us to be more creative with our client projects. The vision we had for Mydoma pushed us to create effects we’ve never done before which was a great challenge. The final video feels authentic and delivers the message that Mydoma was after.
      </p>

      <p>
        The Mydoma Promotional video is a great example of a great fit between vendor and client. Mydoma worked very hard on this project not only communicating
        ideas, but also finding great locations and actors to participate, and even providing most of the set dressing and props. This collaboration led to a production that we are very proud to be a part of. 
      </p>

      <p>
        For more information about Mydoma, be sure to visit 
        <%= link_to "www.mydomastudio.com", "http://www.mydomastudio.com", target: "_blank" %>.
      </p>

      <div class='quote'>
        <div class="avatar">
          <%= image_tag "sarahdaniele.png" %>
        </div>
        <div class="body">
          "We were previously challenged by quickly explaining the value proposition of Mydoma Studio. Working with BiteSite was an excellent experience because they were able to flesh out our core messaging and accurately visually represent our value proposition to potential customers while maintaining our brand." 
          <div class='author'>-Sarah Daniele, CEO, Mydoma Inc.</div>
        </div>
        <div class="clear"></div>
      </div>

      <iframe width="100%" height="400" src="https://www.youtube.com/embed/fsuzsJ2-PYI" frameborder="0" allowfullscreen></iframe>


      <p>
        Written by Rally Stanoeva (<%= link_to "www.rallystano.com", "http://www.rallystano.com" %>)
      </p>

    </div>
    
  </div>

  
  
</div>