<div class="blank-page-navigation-bar">
  <div class="container">
    <div class="blank-page-nav-links">
      <%= link_to "BACK TO BITESITE.CA", "/" %>
    </div>
    <div class="clear-floats"></div>
  </div>
</div>

<div class="portfolio container">
  <h1>BiteSite Archives</h1>

  <div class="archived-featured-work">
    <h2>Featured Work Archives</h2>
    <div class="featured-work-listings">
      <%= link_to image_tag("featured_lspark_tile.jpg", class: "featured-work-listing"), lspark_path %>
      <%= link_to image_tag("featured_international_safety_tile.jpg", class: "featured-work-listing"), international_safety_path %>
      <%= link_to image_tag("featured_mydoma_tile.jpg", class: "featured-work-listing"), mydoma_path %>
      <%= link_to image_tag("featured_lspark_grad_tile.jpg", class: "featured-work-listing"), lspark_grad_path %>
      <%= link_to image_tag("featured_filefacets_tile.jpg", class: "featured-work-listing"), filefacets_path %>
      <%= link_to image_tag("featured_martello_tile.jpg", class: "featured-work-listing"), martello_path %>
      <%= link_to image_tag("featured_splice_tile.jpg", class: "featured-work-listing"), splice_path %>
      <%= link_to image_tag("featured_d3m_tile.jpg", class: "featured-work-listing"), d3m_path %>
      <%= link_to image_tag("featured_christine_kelly_tile.jpg", class: "featured-work-listing"), christine_kelly_path %>
      <%= link_to image_tag("featured_solink_tile.jpg", class: "featured-work-listing"), solink_path %>
    </div>
  </div>

  <div class="portfolio-section">
    <h2>Web</h2>

    <%= link_to "International Safety", "http://www.internationalsafety.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Splice", "http://www.splice.co", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Blue Bird Coffee", "http://www.bluebirdcoffee.ca", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "We Raise Social", "http://www.weraisesocial.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Christine Kelly", "http://www.christinekelly.ca", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Aspire Performance Consulting", "http://www.aspireperformanceconsulting.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Seekr-Pro", "http://www.seekr-pro.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Airline Route Maps", "http://www.airlineroutemaps.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Multinexus", "http://www.multinexus.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Elliott Farm Equipment", "http://www.elliottfarmequipment.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "MMB Counselling & Consulting", "http://www.mmbcounselling.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Horses by Hannah", "http://www.horsesbyhannah.ca", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "M&D", "http://www.marilynanddouglas.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Elite Edge", "http://www.elite-edge.ca", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Liam Wong", "http://www.liamwongsound.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Alberta Harpist", "http://www.albertaharpist.com", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Capo", "http://capoapp.herokuapp.com/", class: "portfolio-listing", target: "_blank" %>
    <%= link_to "Jen & Wayne", "http://www.jenandwayne.com", class: "portfolio-listing", target: "_blank" %>
    <div class="clear"></div>
  </div>

  <div class="portfolio-section">
    <h2>Video</h2>
    <div class="video-listings">
      <% VideoListing.all.each do |video| %>
        <%= link_to video.name, video.link, class: "portfolio-listing", target: "_blank" %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="portfolio-section">
    <h2>Mobile</h2>
    <%= link_to "ESD Poutine", "https://itunes.apple.com/ca/app/esd-poutine/id899560146", target: "_blank", class: "portfolio-listing" %>
    <%= link_to "CNTDWN", "https://itunes.apple.com/app/cntdwn/id555898837", target: "_blank", class: "portfolio-listing" %>
    <%= link_to "CAPO (web-optimized site)", "http://capoapp.heroku.com/", target: "_blank", class: "portfolio-listing" %>
    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>