<%= javascript_pack_tag 'services' %>

<div id="pages-services">
  <div class="container">
    <h1>We work with you to build custom software and web applications.</h1>
    <div class="product-management">
      <h2>Product Management</h2>
        <p class="text">
          Product management is all about deciding what to build, and when to build it. We'll help you decide what's important and
          what's not and priortize the features that will make the most impact in your product.
        </p>
        <div class="services-image">
          <%= image_tag 'product_management.png' %>
        </div>
    </div>
    <div class="software-development">
      <h2>Software Development</h2>
        <p class="text">
          Our developers balance strong software engineering principles with our clients needs to deliver stable, powerful, and
          viable software. Everything from using modern languages and frameworks, to best practices around source control and
          deployment, we'll build a solution that suits you perfectly.
        </p>
        <div class="services-image">
          <%= image_tag 'software_dev.png' %>
        </div>
    </div>
    <div class="ux/ui-design">
      <h2>UX/UI Design</h2>
        <p class="text">
          Whether it be a 5-minute conversation or full-blown prototypes, taking some time to think about how your users will
          interact with your app can make a big difference. We'll work with you to design the best user experience for your
          customers.
        </p>
        <div class="services-image">
          <%= image_tag 'ux_ui_design.png' %>
        </div>
    </div>

    <div id="services-page-mount-point"></div>

    <div class="hero">
      <div class="slogan">
        We build <span class='emphasize'>custom software</span> to execute your vision.
        <%= image_tag 'Wireframe-Computer.png', class: 'computer' %>
      </div>
    </div>

    <div class="section services-section">
      <h1 class='section-header'>
        <span class='text'>Services</span>
        <div class='background-extension'></div>
      </h1>
      <div class='spaced'>
        BiteSite is a custom software shop that builds software to help Ottawa businesses
        execute their vision. Whether it be a MVP to kick-start the next great startup,
        a project to boost productivity, or a marketing website to bring in customers, we're
        hear to help. Software development is a big field, but we can breakdown what we offer
        into the following:
      </div>

      <div class="feature-list services-list">
        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'process-management.jpg' %>
            <div class='text'>Process Management</div>
          </div>
          <div class="feature-body spaced">
            We believe that all good software begins with a good process. Whether you
            have small updates to make, a short project, or on-going needs, we'll
            build a process that maximizes the effectiveness of your software.
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'product-management.jpg' %>
            <div class='text'>Product Management</div>
          </div>
          <div class="feature-body spaced">
            Product management is all about deciding what to build, and when to build it.
            We'll help you decide what's important and what's not and priortize the
            features that will make the most impact.
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'ux-design.jpg' %>
            <div class='text'>UX Design</div>
          </div>
          <div class="feature-body spaced">
            Whether it be a 5-minute conversation or full-blown wireframes, taking some time
            to think about how your users will flow through your app can make a big difference.
            We'll work with you to bring out the best user experience we can.
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'ui-design.jpg' %>
            <div class='text'>UI Design</div>
          </div>
          <div class="feature-body spaced">
            Sometimes the thing we get most excited about is the final polish on our software.
            Our developers will design an app that will be functional, professional, and
            suitable for your audience.
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'software-development.jpg' %>
            <div class='text'>Development</div>
          </div>
          <div class="feature-body spaced">
            Our developers balance strong software engineering principles with our clients
            needs to deliver stable, powerful, and viable software. Everything from
            using modern languages and frameworks, to best practices around source control
            and deployment, we'll build a solution that suits you perfectly.
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h1 class='section-header'>
        <span class='text'>Common Projects</span>
        <div class='background-extension'></div>
      </h1>

      <div class='spaced'>
        When it comes down to it, custom software simply means software that was built specifically
        for you. That covers a huge area and a lot of times our customers wonder if their project
        is suitable for us. While we recommend you come in and chat with us to see if your project is a fit,
        here are some common projects that we specialize in:
      </div>

      <div class="feature-list common-projects-list">
        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'web-applications.jpg' %>
            <div class='text'>Web Apps</div>
          </div>
          <div class="feature-body spaced">
            Our specialty is full-stack web applications. So whether you're trying to build
            the next AirBnb or Twitter, or you're looking to improve your business with
            productivity tools, we can build a web application that starts as an MVP and
            scales with your success.
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'mobile-applications.jpg' %>
            <div class='text'>Mobile Apps</div>
          </div>
          <div class="feature-body spaced">
            Mobile has become such an important platform and providing your users with
            a mobile option can mean the difference between your idea being a success or not.
            We use Expo and React-Native to allow for efficient development of iOS and Android Apps
            with rich user experiences.
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'websites.jpg' %>
            <div class='text'>Marketing Websites</div>
          </div>
          <div class="feature-body spaced">
            A lot of our biggest web applications start out as marketing websites. If
            you need an simple online presence to promote your business that can
            grow with you, we're the right shop for you.    
          </div>
        </div>

      </div>
    </div>

    <div class="section">
      <h1 class='section-header'>
        <span class='text'>Tools</span>
        <div class='background-extension'></div>
      </h1>
      <div class='spaced'>
        Custom software is all about finding the right solution for the problem. We try not
        to box ourselves in to specific technologies, but we do our best when working with the following tools:
      </div>

      <div class="feature-list tools-list">
        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'ruby-on-rails.jpg' %>
            <div class='simple-text'>Ruby on Rails</div>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'react.jpg' %>
            <div class='simple-text'>React</div>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'expo.jpg' %>
            <div class='simple-text'>Expo & React-Native</div>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'git.jpg' %>
            <div class='simple-text'>Git</div>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'bitbucket.jpg' %>
            <div class='simple-text'>Bitbucket</div>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'heroku.jpg' %>
            <div class='simple-text'>Heroku</div>
          </div>
        </div>

        <div class="feature">
          <div class="feature-header">
            <%= image_tag 'trello.jpg' %>
            <div class='simple-text'>Trello</div>
          </div>
        </div>
      </div>
    </div>

    

    <div class="section">
      <h1 class='section-header'>
        <span class='text'>Work with us</span>
        <div class='background-extension'></div>
      </h1>
      <div>
        Excited about your project? Ready to talk to us?
        <%= render 'pages/contact_form' %>
      </div>
    </div>

  </div>
</div>



