<div id="pages-staff-dashboard">
  <h1>Staff Dashbaord</h1>

  <div class="staff-dashboard-menu">
    <%= link_to profile_path do %>
      <%= fa_icon "user-circle-o" %>
      <div>Manage Profile</div>
    <% end %>

    <%= link_to time_off_entries_path do %>  
      <%= fa_icon "calendar" %>
      <div>Time Off System</div>
    <% end %>
    
    <%= link_to blog_posts_path do %>  
      <%= fa_icon "pencil-square-o" %>
      <div>Blog</div>
    <% end %>
    
    <% if admin? %>
      <%= link_to news_posts_path do %>  
        <%= fa_icon "newspaper-o" %>
        <div>News</div>
      <% end %>
      
      <%= link_to video_listings_path do %>  
        <%= fa_icon "video-camera" %>
        <div>Video Listings</div>
      <% end %>

      <%= link_to web_listings_path do %>  
        <%= fa_icon "compass" %>
        <div>Web Listings</div>
      <% end %>
      
      <%= link_to email_blacklistings_path do %>  
        <%= fa_icon "ban" %>
        <div>E-mail Blacklistings</div>
      <% end %>

      <%= link_to contact_form_submissions_path do %>  
        <%= fa_icon "envelope-open-o" %>
        <div>Contact Form Submissions</div>
      <% end %>

      <%= link_to contacts_path do %>  
        <%= fa_icon "address-card" %>
        <div>Contacts</div>
      <% end %>

      <%= link_to downloads_path do %>  
        <%= fa_icon "download" %>
        <div>Downloads</div>
      <% end %>
    <% end %>
  </div>
  
</div>
