<div class="blog-posts-index">
  <div class="container">
  <h1>CONTACT FORM SUBMISSIONS</h1>

  <% @contact_form_submissions.each do |c| %>
    <div class="contact-form-submission">
      <div>
        <%= c.first_name %> <%= c.last_name %> (<%= c.email_address %>)
      </div>
      <div>
        <%= c.message %>
      </div>
      <div>
        <%= c.created_at %>
      </div>
    </div>
  <% end %>
  </div>
</div>