<%= image_tag attachments['emailheader.png'].url %>

<%= raw cms_value("contact_confirmation_message") %>

<hr>

<p>
	The message we received:
	<ul>
		<li>First Name: <%= @first_name %></li>
		<li>Last Name: <%= @last_name %></li>
		<li>Message: <%= @message %></li>
	</ul>
</p>