<h1>Time Off</h1>

<%= link_to 'Request Time Off (Multiple)', bulk_new_time_off_entries_path, class: 'btn btn-primary' %>
<%= link_to 'Request Time Off (Single)', new_time_off_entry_path, class: 'btn btn-primary' %>

<table class='resource-table'>
  <tr>
    <th>Entry date</th>
    <th>Time off type</th>
    <th>Amount</th>
    <th>Notes</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @time_off_entries.each do |time_off_entry| %>
  <tr>
    <td><%= time_off_entry.entry_date %></td>
    <td><%= time_off_entry.time_off_type %></td>
    <td><%= time_off_entry.amount %></td>
    <td><%= time_off_entry.notes %></td>
    <td><%= time_off_entry.status %></td>
    <td><%= link_to 'Edit', edit_time_off_entry_path(time_off_entry) %></td>
    <td><%= link_to 'Destroy', time_off_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


