<div id="time-off-entries-index">
  <div class="container">
    
    <h1>Time Off</h1>

    <h2>Your Time Off</h2>
    <%= render 'time_off_table', time_off_entries: @time_off_entries %>

    <div class="actions">
      <%= link_to 'Request Time Off (Multiple)', bulk_new_time_off_entries_path, class: 'btn btn-primary' %>
      <%= link_to 'Request Time Off (Single)', new_time_off_entry_path, class: 'btn btn-primary' %>
    </div>


    <br />

    <% if supervisor? %>
      <h2>Your Reports 'Pending' Time off</h2>

      <% User.all.alphabetical.each do |user| %>
        <% if user != current_user %>

          <% if user.time_off_entries.pending.present? %>
            <h3><%= user.email %>'s Time Off</h3>
            <%= render 'time_off_table', time_off_entries:  user.time_off_entries.pending.chronological %>
          <% end %>
        <% end %>
      <% end %>


      <h2>Your Reports 'Approved' Time off</h2>

      <% User.all.alphabetical.each do |user| %>
        <% if user != current_user %>

          <h3><%= user.email %>'s Time Off</h3>
          <%= render 'time_off_table', time_off_entries:  user.time_off_entries.approved.chronological %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
