<%= javascript_pack_tag "footer" %> 


<div id="footer-component-mount-point">

  <div class="container fgs-al  fgs-al-align-items-flex-start  fgs-al-justify-content-space-between">
      
      <div class="company-info fgs-ali fgs-al fgs-al-v fgs-al-g-10 ">
      <span class="title fgs-ali">2021 BiteSite Inc.</span>
        
        <div class="fgs-ali fgs-al fgs-al-v fgs-al-g-6">
          <span class="info fgs-ali">204 - 78 George St.</span>
          <span class="info fgs-ali">Ottawa, ON</span>
          <span class="info fgs-ali">K1N 5W1</span>
          <span class="info fgs-ali">info@bitesite.ca</span>

        </div>
      </div>
  <div>

   
      <div class='links fgs-ali fgs-al fgs-al-h fgs-al-align-items-flex-start'>

          <div class="company-links fgs-ali fgs-al fgs-al-v">
          <span class="links-title fgs-ali">COMPANY</span>
          <%= link_to "Services", services_path, :class => "fgs-ali" %>
          <%= link_to "About", about_path, :class => "fgs-ali" %>
          <%= link_to "Careers", careers_path, :class => "fgs-ali" %>
          <%= link_to "Contact Us", contact_path, :class => "fgs-ali" %>
          </div>

          <div class="resources-links fgs-ali fgs-al fgs-al-v fgs-al-g-6">
          <span class="links-title fgs-ali">RESOURCES</span>
          <%= link_to "Blog", "/blog", :class => "fgs-ali" %>
          <%= link_to "Newsletter", news_posts_path, :class => "fgs-ali" %>
          <%= link_to "Playbook", playbook_path, :class => "fgs-ali" %>
          </div>

        <div class="social-media-links fgs-ali fgs-al fgs-al-v fgs-al-g-10">
          <span class="links-title fgs-ali">FOLLOW US</span>
          
          <div class="fgs-ali fgs-al fgs-al-h fgs-al-g-20 fgs-al-align-items-flex-center">
          <%= link_to fa_icon("linkedin"), "https://www.linkedin.com/company/2894614/", :class => "icon fa-2x" %>
          <%= link_to fa_icon("youtube-play"), "https://www.youtube.com/user/bitesiteca", :class => "icon fa-2x" %>
          <%= link_to fa_icon("twitter"), "https://www.twitter.com/bitesite", :class => "icon fa-2x" %>

          </div>
       
        </div>

      </div>



</div>
