<div class="navigation">
	<%= link_to "home", "/" %>
	<%= link_to "news", "/news" %>
	<%= link_to "packages", "/packages" %>
	<%= link_to "addons", "/addons" %>
	<%= link_to "portfolio", "/portfolio" %>
	<%= link_to "contact", "/contact" %>
	<%= link_to "about", "/about" %>
	
	<% if user_signed_in? %>
		<%= link_to "logout", destroy_user_session_path, :method => :delete %>
	<% end %>
</div>