<div class="navigation">
	<%= link_to "home", "/" %>
	<%= link_to "packages", "/packages" %>
	<%= link_to "addons", "/addons" %>
	<%= link_to "portfolio", "/portfolio" %>
	<%= link_to "contact", "/contact" %>
	<%= link_to "about", "#" %>
</div>