<div class="header-links">
	<div class="container">
		<%= link_to "/", :class => "header-link", :title => "BiteSite Main" do %>
			B<span class='header-link-rest'>iteSite Main</span>
		<% end %>
		
		<%= link_to "/video", :class => "header-link", :title => "Video Production" do %>
			V<span class='header-link-rest'>deo</span>
		<% end %>
				
		<%= link_to "http://www.twitter.com/bitesite", :class => "header-link", :target => "_blank", :title => "Twitter" do %>
			T<span class='header-link-rest'>wtitter</span>
		<% end %>

		<% if admin? %>
			<%= link_to "A", "/admin", :class => "header-link" %>
			<%= link_to "L", destroy_user_session_path, :method => :delete , :class => "header-link" %>
		<% end %>		
	</div>
</div>