<div id="header">
  <div class="container">
    <div class='logo-container'>
      <%= link_to image_tag('logo2015-blue.png', class: 'logo'), root_path %>
    </div>
    <div class='nav-links'>
      <%= link_to 'Software', software_path %>
      <%= link_to 'Video', video_path %>
      <%= link_to 'Blog', blog_posts_path %>
      <%= link_to 'Contact', '#' %>
    </div>
  </div>
</div>