<!DOCTYPE html>
<html>
<head>
	 <title>BiteSite - Ottawa Web Design and Development - <%= @title %></title>
	 <meta name="description" content="BiteSite is an Ottawa, Canada based company dedicated to building stylish, elegant, and robust Websites and Web Applications and producing eye-catching media. It
	 targets small to medium size businesses as well as individuals such as event organizers, teachers, and wedding couples. Our media services include photography, video production, and graphic design. BiteSite believes strongly in finding the right-fit customer for the right-fit company to bring success to all who are invovled.">
	 <%= stylesheet_link_tag    "application", :media => "all" %>
	 <%= javascript_include_tag "application" %>
	 <%= csrf_meta_tags %>

	 <!-- Google Analytics -->
	<script type="text/javascript">
	


	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32705304-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
    <%= favicon_link_tag 'favicon.png', :type => 'image/png' %>

</head>
<body>
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,600,700' rel='stylesheet' type='text/css'>
	<%= render "layouts/header_links" %>
	<%= yield %>
</body>
</html>
