<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@title} | " if @title.present? %>The BiteSite Blog</title>
    <%= render 'layouts/shared_head' %>
  </head>
  <body class='blog-layout'>
    <%= render 'layouts/flash', flash: flash %>

    <%= render 'layouts/header' %>

    <div class='blog-main'>

      <div id="blog-posts-index">
        <div class="container">
          <div class='blog-title'>THE BITESITE BLOG</div>

          <div class="blog-content">
            <%= yield %>
          </div>
          <div class="blog-menu">
            <div class="menu-section">
              <div class='menu-title'>
                The BiteSite Blog
              </div>
              <div class='menu-links'>
                <%= link_to "Blog Home", blog_posts_path %>
              </div>
            </div>

            <div class="menu-section">
              <div class='menu-title'>
                Most Popular Tags
              </div>
              <div class='menu-links'>
                <% ActsAsTaggableOn::Tag.most_used(10).each do |tag| %>
                  <%= link_to "#{tag.name} (#{BlogPost.tagged_with(tag.name).count})", blog_posts_path(tag_name: tag.name), class: 'menu-link' %>
                <% end %>
              </div>
            </div>

            <div class="menu-section">
              <div class='menu-title'>
                Contact us
              </div>
              <div class='contact'>
                <%= link_to "@bitesite", "http://www.twitter.com/bitesite" %>
                <%= link_to "info@bitesite.ca", "mailto:info@bitesite.ca" %>
                <%= link_to "www.bitesite.ca", "http://www.bitesite.ca" %>
              </div>
            </div>

            <% if can? :new, BlogPost %>
              <div class="menu-section">
                <div class='menu-title'>
                  Blog Actions
                </div>
                <div class="menu-links">
                  <%= link_to 'New Blog post', new_blog_post_path %>
                  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
                </div>
              </div>
            <% end %>

          </div>
          <div class="clear"></div>

        </div>
      </div>
    </div>
    
    <%= render 'layouts/footer' %>

  </body>
</html>
