<% content_for :content do %>
  <div id="playbook-layout">
    <div class='container'>
      <%= link_to 'Playbook Menu', '#', class: 'playbook-menu-toggle'%>
      <div class="playbook-menu">
        <div class='menu-header'>The BiteSite Playbook</div>
        <%= link_to 'Overview', playbook_path %>
        <div class='menu-header'>Culture</div>
        <%= link_to 'Custom Software', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <%= link_to 'Values', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <%= link_to 'Team Members', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <%= link_to 'How we hire', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <%= link_to 'How we work', playbook_how_we_work_path %>
        <%= link_to 'Communication', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <%= link_to 'MVP', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <div class='menu-header'>Sales</div>
        <%= link_to 'Customers', playbook_customers_path %>
        <%= link_to 'Customer Role', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <%= link_to 'Sales Process', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <%= link_to 'Project Types', playbook_projects_path %>
        <%= link_to 'Contracts', playbook_contracts_path %>
        <div class='menu-header'>Scrum Express</div>
        <%= link_to 'Scrum Express', playbook_scrum_express_path %>
        <%= link_to 'Roles', playbook_scrum_express_roles_path %>
        <%= link_to 'Development Sprint', playbook_development_sprint_path %>
        <%= link_to 'How we use Trello', playbook_how_we_use_trello_path %>
        <%= link_to 'Product Managers', playbook_product_managers_path %>
        <%= link_to 'Project Leads', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <%= link_to 'Designers', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <%= link_to 'Developers', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <div class='menu-header'>Toolkit</div>
        <%= link_to 'Technologies', playbook_technologies_path %>
        <%= link_to 'Tools', playbook_tools_path %>
        <%= link_to 'Git Strategy', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <div class='menu-header'>Business</div>
        <%= link_to 'Invoices and Payment', playbook_coming_soon_path, class: 'coming-soon-link' %>
        <%= link_to 'Project Handover', playbook_coming_soon_path, class: 'coming-soon-link' %>
      </div>
      <div class="playbook-content">
        <%= yield %>

        <div class='disclaimer'>
          <div class='main'>
            This is a constantly evolving document, so check back regularly.
          </div>
          <div class='sub'>
            Aside from outright plagiarism and claiming that this is your work, feel free
            to use this in anyway you want.
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>