<!DOCTYPE html>
<html>
<head>
	 <title>BiteSite - Ottawa Video Production</title>
	 <meta name="description" content="BiteSite is an Ottawa, Canada based company dedicated to Web, Mobile, and Media. It believes strongly in the video format and
	 has produced Wedding Videos, Corporate Videos, and more. Whether it be professionally produced live video or stylish motion graphics, BiteSite will work closely
	 with you to make something that will truly blow your mind. Check out BiteSite's Video Production services today.">
	 <%= stylesheet_link_tag    "application", :media => "all" %>
	 <%= javascript_include_tag "application" %>
	 <%= csrf_meta_tags %>	
    <%= favicon_link_tag 'favicon.png', :type => 'image/png' %>

</head>
<body>
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,600,700' rel='stylesheet' type='text/css'>
	
	<%= yield %>
</body>
</html>
